<h1 class="text-center mt-4">Editing <%= @pet.pet_name %>'s Profile</h1>

<%= render "form", pet: @pet %>

<br>

<div class="d-flex justify-content-center mb-4">
  <%= link_to "Show this pet", @pet %> |
  <%= link_to "Back to pets", pets_path %>
</div>
