<div class="<%= class_names %>">
  <div class="row mb-3 justify-content-center visually-hidden" data-controller="time-zone">
    <%= form.label :time_zone, class: "col-sm-3 col-form-label", style: "color: #515a5a; font-weight: bold" %>
    <div class="col-sm-3">
      <%= form.text_field :time_zone, data: { "time_zone_target"=> "tz" }, class: "form-control" %>
    </div>
  </div>
</div>