<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Description</th>
      <th scope="col">Favorite Score</th>
      <th scope="col">Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ciao</td>
      <td>Chicken</td>
      <td>15</td>
      <td><%= (image_tag("heart.png", width: "30px"))*2 %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Axia</td>
      <td>Tuna&Beef</td>
      <td>7</td>
      <td><%= (image_tag("heart.png", width: "30px")) %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mon Petit</td>
      <td>Tuna</td>
      <td>23</td>
      <td><%= (image_tag("heart.png", width: "30px"))*4 %></td>
    </tr>
  </tbody>
</table>