<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">Welcome to Cat Feeding Tracker App<%= image_tag("yamiyami-removebg-preview.png", width: "150px") %></h1>
    <p class="card-text text-center">Track your cat's eating</p>
  </div>
</div>