<h1 class="text-center mt-4">Editing tracker</h1>

<%= render "form", tracker: @tracker %>

<br>

<div class="d-flex justify-content-center mb-4">
  <%= link_to "Show this tracker", pet_tracker_path(@tracker) %> |
  <%= link_to "Back to trackers", pet_trackers_path %>
</div>